<div class="container mt-5">
  <h1><%= @list.name %></h1>

<div class="container mt-5">
  <h1>- Ajoute un film à la Liste -</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn btn-primary mt-4" %>
  <% end %>
</div>

  <%= link_to "Retour au Menu", lists_path %>
  <%= link_to "Delete #{@list.name}", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are your sure?" } %>

<div class="container mt-5">
  <ul>
    <div>
      <% @bookmarks.each do |bookmark| %>
        <h3><%= "bookmark.movie.title -- #{bookmark.movie.rating}/10" %></h3>
        <p><%= bookmark.movie.overview %></p>
        <p><%= bookmark.comment %></p>
        <% if bookmark.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path bookmark.photo.key, height: 300, crop: :fill %>')"></div>
        <% else %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <% end %>
        <p><%= "#{bookmark.movie.poster_url}" %></p>
        <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are your sure?" } %>
      <% end %>
    </div>
  </ul>
</div>
